<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="登录.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="jquery.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
</head>

<body style="margin:0px;">
    <div class="top">
        <nobr>
        <div id='button1' class="top_button1" style="float:left;background-color:rgb(176, 198, 245);" onclick="change_to_login()">登录</div>
        <div id='button2' class="top_button2"  style="float:right;background-color:grey;" onclick="change_to_register()">注册</div>
        </nobr>
    </div>
    
    <div class="login_block">
        <br>
        <br>
        <div id="login" style="display:''">
                <div style="line-height:30px;margin-top:40px;">
                        <view style="font-size:30px;margin-left:20%;">账号</view>
                        <input id='ID' placeholder="输入账号" class="input">
                    </div>
            
                    <br>
                    <view style="font-size:30px;margin-left:20%;">密码</view>
                    <input id='password' placeholder="输入密码" class="input">
                    <br>
                    <br>
                    <button type="button" style="margin-left:100px;" onclick="login()">登录</button>
        </div>
        <div id='register' class="register" style="display:none">
                <view  style="font-size:30px;margin-left:20%;">账号</view>
                <input id='re_ID' placeholder="输入账号" class="input">
                <view style="font-size:30px;margin-left:20%;">密码</view>
                <input id='re_password1' placeholder="输入密码" class="input">
                <view style="font-size:30px;margin-left:20%;">确认</view>
                <input id='re_password2' placeholder="再次输入密码" class="input">
                <br>
                <button style="margin-left:160px;font-size:25px;height:50px;line-height:50px;width:100px;margin-top:20px;border-radius:5px;" onclick="register()">注册</button>

        </div>

    </div>

</body>
<script type="text/javascript">

    function change_to_register() {
        var a=document.getElementById('login') 
        var b=document.getElementById('button1')
        var c=document.getElementById('button2')
        var d=document.getElementById('register')
        a.style.display="none";  
        b.style.backgroundColor='grey';
        c.style.backgroundColor='rgb(176, 198, 245)';
        d.style.display=''
    }

    function change_to_login(){
        var a=document.getElementById('register') 
        var b=document.getElementById('button2')
        var c=document.getElementById('button1')
        var d=document.getElementById('login')
        a.style.display="none";  
        b.style.backgroundColor='grey';
        c.style.backgroundColor='rgb(176, 198, 245)';
        d.style.display=''
    }

    function login() {
        var id = document.getElementById('ID').value
        var password = document.getElementById('password').value
        if (id && password) {
            $.ajax({
                type: "post",
                url: 'http://127.0.0.1:8000/login/',
                data: {
                    ID: id,
                    Password: password
                },
                success: function (res) {
                    if (res == 'yes')
                        alert('成功登录')
                },
                error: function (e) {
                    alert('cnm')
                    alert(e.status)
                    alert(e.responseText)
                    alert(e)
                }
            })
        } else {
            alert('账号和密码不能为空')
        }
    }

    function register(){
        var account=document.getElementById('re_ID').value
        var pas1=document.getElementById("re_password1").value
        var pas2=document.getElementById("re_password2").value
        if(account!=''&pas1!=''&pas2!='')
        {
            if(pas1==pas2)
            {
                $.ajax({
                type: "post",
                url: 'http://127.0.0.1:8000/register/',
                data: {
                    ID: account,
                    Password: pas1
                },
                success: function (res) {
                    if (res == '注册成功')
                        alert('成功注册')
                },
                error: function (e) {
                    alert('cnm')
                    alert(e.status)
                    alert(e.responseText)
                    alert(e)
                }
            })
            }
            else{
                alert("前后输入密码不一致")
            }
        }
        else{
            alert("输入不能为空")
            alert(account+pas1+pas2)
        }
    }
</script>

</html>